
.someclass{
    margin: 0 0 0 100px;
    padding: 0;
}

.container{
    width:1440px;
    height: 900px;
    background-color: black;
}


.rostov_on_don{
padding: 107px 90px 123px;
width: 1171px;
height: 552.28px;
gap: 0px;
opacity: 0px;
}

.hotels_all{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 1350px;
    
  
}

.hotels{
 text-decoration: none;
  color: grey;
margin-right: 60px;
font-family: Yeseva One;
font-size: 14px;
font-weight: 400;
line-height: 19.4px;

}

.hotels:hover { color:  #E3B873;
    transition: 0.5s;
  text-decoration: underline;
  transition: transform 0.5s ease;
}

.desk_all{
margin-top:50px;
margin-left: 50px;
width: 442px;
height: 390px;
top: 176.36px;
left: 134px;
gap: 0px;
opacity: 0px;
}

.nav_desc{
display:flex;
align-items: end;
justify-content:start;
width: 253px;
height: 90px;
}

.desc_title{
    margin:0;
}

.complite_project{
color: #E3B873;
font-family: Yeseva One;
font-size: 16px;
font-weight: 400;
line-height: 37px;
text-align: left;
top: -10px;
}

.line{
width:100px;
height: 1px;
background-color: #E3B873;
}


.desc_par{
font-family: Nunito Sans;
font-size: 14px;
font-weight: 400;
line-height: 26.73px;
text-align: left;
color: #FFFFFF;
}

.town{
font-family: Yeseva One;
font-size: 18px;
font-weight: 400;
line-height: 24.95px;
text-align: left;
color: #E3B873;
margin-right: px;
}

.town_area{
  font-family: Yeseva One;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.95px;
  text-align: left;
  color: #E3B873;
  margin-right: px;
  }



.all_desc{
    margin-top: 50px;
    display: flex;
  
}

.town_desc{
font-family: Nunito Sans;
font-size: 13px;
font-weight: 400;
line-height: 21.28px;
text-align: left;
color: #FFFFFF;
}


.continer_desc{
    width: 170px;
}






main {
  display: flex;
  justify-content: center;
}

.slider {
  position: relative;
  margin: 20px 0;
  left:720px;
  bottom:450px;
}

.slider__images {
  position: relative;
  width: 679px;
  height: 482px;
}

.slider__images-title {
  position: relative;
  right: 63px;
  top: 18px;
  width: 100%;
  background: rgba(0,0,0,0.5);
  color: #fff;
  text-align: center;
  z-index: 1;
  padding: 7px 0;
}

.slider__images .image {
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: opacity 800ms ease;
}

.slider__images .image.active {
  opacity: 1;
}

.slider__arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}

.slider__arrow {
  position: absolute;
  width: 15%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  transition: opacity 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__arrow:hover {
  opacity: 1;
}

.slider__arrow.left {
  left: 0;
}

.slider__arrow.right {
  right: 0;
}

.slider__dots {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: -20px;
  width: 100%;
}

.slider__dots-item {
  width: 10px;
  height: 10px;
  background: #7b7878;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background 0.4s ease;
}

.slider__dots-item:hover, .slider__dots-item.active {
  background: #f9f8f8;
}